
body {
	font-family: 'SUIT Variable', sans-serif;
}
video{
  object-fit: cover;
}
.section1 h2{
  font-family: 'hdharmony';
  font-weight: 500;
  font-size: var(--pc_title);
}
.section1 h3{
  font-family: 'hdharmony';
	font-style: medium;
  font-weight: 500;
  font-size: 40px;
}
.section1 h4{
  font-family: 'hdharmony';
	font-style: light;
  font-weight: 300;
  font-size: 40px;
}
.section1 span{
  color: var(--primary);
}
h2{
  font-size: var(--pc_title);
}
header .logo a{
  background:url(../images/about/header_icon2.svg) no-repeat;
}
.top_nav{
  background-color: #fff;
  border-bottom: 1px solid #000;
}
.main_menu li a {
	color: #000;
}
.tab_menu{
  width: 100%;
  height: 87px;
  border-bottom:1px solid rgba(0,0,0,.5);
  position: sticky;
  top: 0;
  background-color: rgba(255,255,255,.5);
  z-index: 997;
}
.tab_menu ul{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-size: var(--pc_body);
}
.tab_menu ul li{
  position: relative;
}
.tab_menu ul li:nth-child(1):after{
  display: block;
	content: '';
	background-color: var(--primary);
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: -170%;
	transition: 0.3s;
	transform: scaleX(1);
}
.tab_menu ul li:nth-child(1) a{
  color:var(--primary);
}
.tab_menu ul li a:hover{
  color: var(--primary);
}
.tab_menu ul li:after{
  display: block;
	content: '';
	background-color: var(--primary);
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: -170%;
	transition: 0.3s;
	transform: scaleX(0);
}
.tab_menu ul li:hover::after{
  transform: scaleX(1);
}














.nav {
  display: flex;
  justify-content: space-around; /* 항목을 균등하게 배치 */
  align-items: center; /* 수직으로 중앙 정렬 */
}

.nav-img {
  width: 50px; /* 필요에 따라 조정 */
  height: auto; /* 비율 유지 */
  margin-right: 8px; /* 이미지와 텍스트 간의 간격 */
}

/* .nav-link {
  text-decoration: none; 
  color: #007bff; 
} */

.nav-link.active {
  font-weight: bold; /* 활성 링크 강조 */
}



/* section1 */

.section1{  
  background-image:linear-gradient(rgba(225,225,225,.1) 50%,#fff 100%), url(../images/about/productlist04_lightcar.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  height: 672px;
  position: relative;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  text-align: center;
  gap: 60px;
  margin: 0 auto;
  padding: 0;
  }

/* section1 ////////////////////////////////// */







/* section3 tab menu*/
.tab-wrapper {  
  margin:0 auto;
  }
.tab-menu {
  padding-left:0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px; 
  }
  
.tab-menu li {  
  list-style:none;
 border-right: 1px solid;
 height: 60px; 
 padding-top: 15px;
  }
.tab-menu li:last-child {  
  list-style:none;
 border:none;
  }
.tab-menu a { 
  position: relative; 
  padding: 5px 0; 
  }
/* .tab-menu a::after {
  opacity: 0; 
  transition: opacity 0.5s; 
  }
.tab-menu a:hover::after{
  content: ""; 
  display: block; 
  height: 2px; 
  background-color: var(--secondary); 
  width: 50%; 
  position: absolute; 
  bottom: -20px; 
  transform: translateX(50%);
  transition: opacity 0.5s; 
  opacity: 1;
  } */
.tab-menu li a{
  font-weight: 600;
  line-height:28px; 
  font-family: 'hdharmony';
  font-size: 28px;  
  text-decoration:none; 
  padding:0 170px;   
  } 
#tab-content > div {
  display: none;
  }
#tab-content > div.active{
  display: block;
  }
.tab-menu li.ui-state-active a{
  background: #000;
  color: #fff;
  }
#tab-content {
  display: flex;
  align-items: flex-start;
  margin-bottom:80px; 
  animation: fade-in 1s forwards; 
  }
#tab-content h2 {
  position: relative; /* 위치 조정할 수 있도록 설정 */
  margin-bottom: 82px; /* 이미지와의 간격 조정 */  
  }
#tab-content img {
  margin-right: 20px; 
  height: auto;   
  }
.gorotab img {
  max-width: 100%; 
  height: auto; 
  
  }
.gorotab{
  display: flex;
  justify-content: space-between;
 
  }

.gorotab-content {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  gap:20px;
  font-size: 20px;
  font-weight: 500;
  padding:19px 31px 0 37px;}

.gorotab-content p{
  line-height: 35px;
  }
.highlight{
  color: var(--primary);
  }
.bold{
  font-weight: 700;
  }
.tertiary{
  color: var(--tertiary);
  } 
/* section3 tab menu/////////////////////////////////////////*/


/*section 4*/
.partner{
  display: flex;
  justify-content: space-between;
  gap: 90px;
  margin-bottom: 140px;
  }
.winwin{ 
  display: flex;
  flex-direction: column;  
  justify-content: flex-start; 
  text-align: left;
  gap: 55px;
   padding: 60px 0;
  }
  .winwin h2 {
  font-family: 'hdharmony';
  font-style: medium;
  font-weight: 500;
  color: var(--secondary);
  position: relative; /* 상대 위치 설정 */
  }
  

  
 
  
.winwin h2::after {
  content: ""; 
  display: block; 
  height: 2px; 
  background-color: var(--secondary); 
  width: 90%; 
  opacity: 0; 
  transition:0.5s;
  position: absolute; 
  bottom: -5px; 
  left: 0; 
  }

.winwin h2.active::after {
  opacity: 1; 
  }

.winwin p {
  line-height: 42px;
  font-size: 30px;
  }
.fc{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 84px;
  }
.fc_box{ 
  display: flex;
  justify-content: space-between;
  transition: box-shadow 0.3s ease; 
  }
  
 
.fc img{
  z-index: 3;
  }
 .boxcontainer {
  position: relative; 
  width: 100%;     
  left: 0;
  }
.box {
  position: absolute;     
  height: 273px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  color: white; 
  font-size: 24px;    
  }
.box1 {
  background-color: var(--primary); /* 박스 1 색상 */
  z-index: 1; /* 겹침 순서 설정 */
  width: 990px;
  height: 244px;
  right:-25px
  }

.box2 {
  background-color: #E9ECEF; /* 박스 2 색상 */
  top: 25px; /* 박스 2의 위쪽 위치 조정 */
  height: 250px;
  left: -10px;
  z-index: 2; /* 겹침 순서 설정 */
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 5px;
  color: #000;
  text-align: center;
  font-family: var(--pc_sub_title);
  padding: 0 30px;
  }
.box2 p{
  font-family: var(--pc_sub_body);
  margin: 10px 0;
  }
.box2 p:first-child{
  font-family: var(--pc_sub_title);
  font-weight: 700;
  }
.box2 p:last-child{
  font-family: var(--pc_sub_title);
  font-weight: 400;
  }

.fc_box:hover .box1, .fc_box:hover .boxcontainer, .fc_box:hover img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
  animation: slide-in-left  1s forwards;  
  }
.vision > p{
  animation: slide-in-left  1s forwards;  
}
  
.fc-img {
  margin: 0; 
  padding: 0;   
  }
  .vision{
    position: relative;
  }
  .vision > p{
  padding: 32px 0 0 0;
  font-family: var(--pc_sub_title);
  font-weight: 800;
  position: absolute;
  right: calc(100% - 250px);
  top: calc(100% - 15px);
  transform: translateY(-25%);  
  }
  

 /* underline  */
 .hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  /* -webkit-transform: perspective(1px) translateZ(0); */
  /* transform: perspective(1px) translateZ(0); */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  /* overflow: hidden; */
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  /* z-index: -1; */
  left: 51%;
  right: 51%;
  bottom: -20px;
  background: #2098D1;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
 /* underline ///////////////////////////// */

 
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


/*fade in*/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*fade out*/






/*section 5 연혁/////////////////////////////////*/

.yh h2{
  margin-bottom: 85px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}












/*section 5/////////////////////////////*/











/*section6*/
.section6{
  padding:0 !important;
}
/*section6/////////////////////////////////////////////////////*/












/*태블릿 반응형*/



@media screen and (max-width: 992px) {

}



/*태블릿 반응형//////////////////////////*/








/*모바일반응형*/




@media screen and (max-width: 700px) {

}








/*모바일반응형/////////////////////////*/












