:root{
	--primary:#0A2972;
	--secondary:#0E3092;
	--tertiary:#00A0C8;
	--red:#f00;
	--green:#7dc31e;
	--yellow:#ffb400;
	--gold:#866d48;
	--lightgray:#7d7d7d;
	--silver:#8a8d8f;
	--darkgray:#373728;
}