/* xs devices (less than 576px) */
@media (max-width: 575.98px) {
	/* 여기에 스타일 추가 */
}

/* sm devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	/* 여기에 스타일 추가 */
	.section2{
		text-align: center;
	}
	#she_wrapper{
		flex-direction: column;
		margin: 25px;
	}
	.she_title .s_tt_h2{
		font-size: var(--mo_title);
		margin-bottom: 15px;
	}
	.she_title .s_tt_mgm{
		font-size: var(--mo_body);
	}
	.she_pic .img_height{
		/* object-fit: cover; */
	 }
	 /* .she_pic.col-5, */
	 .she_wrapper .she_pic .img_height{
		 width: 424px;
		 height: 620px;
	 }
	 #tab_id, .explain_wrapper {
		width: 560px;
	}
	.section2 .explain_wrapper{
		margin: 25px;
	}
	.explain .pb-4, 
	.explain .pb-5{
		display: none;
	}
	#tab_id .pager a{
		font-size: var(--mo_big);
	}
	.pager .hr{
		display: none;
	}
	.details h3{
		font-size: var(--mo_subtitle);
	}
	.details {
		width: 100%;
		margin-top: -50px;
	}
}

/* md devices (phones, 576px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	/* 여기에 스타일 추가 */
}

/* lg devices (PC버전desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	/* 여기에 스타일 추가 */
	.section2{
		text-align: center;
	}
	#she_wrapper{
		flex-direction: column;
		margin: 25px;
	}
	.she_title .s_tt_h2{
		font-size: var(--mo_title);
		margin-bottom: 15px;
	}
	.she_title .s_tt_mgm{
		font-size: var(--mo_body);
	}
	.she_pic .img_height{
		object-fit: cover;
	 }
	 .she_pic.col-5,
	 .she_pic .img_height{
		 width: 750px;
		 height: 340px;
	 }
	 #tab_id, .explain_wrapper {
		width: 560px;
		
	}
	.section2 .explain_wrapper{
		margin: 25px;
	}
	.explain .pb-4, 
	.explain .pb-5{
		display: none;
	}
	#tab_id .pager a{
		font-size: var(--mo_big);
	}
	.pager .hr{
		display: none;
	}
	.details h3{
		font-size: var(--mo_subtitle);
	}
	.details {
		width: 100%;
		margin-top: -50px;
	}
}

/* xl devices (1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
	/* 여기에 스타일 추가 */
}

/*xxl devices (1400px and up)*/
@media screen and (min-width: 1400px) {
	/* 여기에 스타일 추가 */
}








/* video */


#controls{
	position: absolute;
	bottom: 23%;
	left: 10%;
	max-width: 1440px;
	height: 50px;
}

.progress {
	left: 10%;
	right: 70%;
	bottom: 20%;
	height: 10px;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.2);
	position: absolute;
	border-radius: 0;
}

.progress .bar {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;
	background: var(--tertiary);
	transition: 0.5s;
}

.video_btn button {
	border-radius: 50%;
	position: absolute;
	display: inline-block;
	color: white;
	border: 1px solid white;
}

.video_btn button:hover {
	color: var(--tertiary);
	border: 1px solid var(--tertiary);
}

@media screen and (max-width: 768px) and (max-width: 991.98px){
	/* BUTTON & PROGRESSBAR */
	#controls {
		position: absolute;
		bottom: 23%;
		left: 10%;
		max-width: 1440px;
		height: 50px;
	}

	.progress {
		left: 10%;
		right: 70%;
		bottom: 20%;
		height: 10px;
		overflow: hidden;
		background: rgba(255, 255, 255, 0.2);
		position: absolute;
		border-radius: 0;
	}

	.progress .bar {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 0;
		background: var(--tertiary);
		transition: 0.5s;
	}

	.video_btn button {
		border-radius: 50%;
		position: absolute;
		display: inline-block;
		color: white;
		border: 1px solid white;
	}

	.video_btn button:hover {
		color: var(--tertiary);
		border: 1px solid var(--tertiary);
	}

	/* S.H.E. */
	.section2{
		text-align: center;
	}
	#she_wrapper{
		flex-direction: column;
		margin: 25px;
	}
	.she_title .s_tt_h2{
		font-size: var(--mo_title);
		margin-bottom: 20px;
	}
	.she_title .s_tt_mgm{
		font-size: var(--mo_body);
	}
	.she_pic .img_height{
		object-fit: cover;
	 }
	 .she_pic.col-5,
	 .she_pic .img_height{
		 width: 621px;
		 height: 340px;
	 }
	 #tab_id, .explain_wrapper {
		width: 560px;
	}
	.section2 .explain_wrapper{
		margin: 30px;
	}
	.explain .pb-4, 
	.explain .pb-5{
		display: none;
	}
	#tab_id .pager a{
		font-size: var(--mo_big);
	}
	#tab_id{
		display: flex;
		justify-content: space-between;
	}
	.pager .hr{
		display: none;
	}
	.details h3{
		font-size: var(--mo_subtitle);
	}
	.details {
		width: 100%;
		margin-top: -20px;
	}
}

.s2.container .she{
	display: flex;
	font-size: 110px;
	color: #757575;
}
.s2 h2{
	font-size: var(--pc_title);
}
.s2 h4{
	font-size: var(--pc_body);
}
#she_wrapper{
	display: flex;
}
.she_pic, .she_pic img{
	height: 588px;
}
.she_pic img{
	display: none;
}
.she_pic{
	width: 580px;
}
.she_pic img.active{
	display: block;
	animation: fadeInLeft 1s ease forwards;
}
.explain_wrapper{
	/* margin-left: 81px; */
	margin-top: 5px;
}
.explain{
	display: inline-block;
}
.explain h2{
	font-size: var(--pc_title);
	color: #3E3D3D;
}
.explain p{
	font-size: var(--pc_mid_body);
	line-height: 56px;
}
.pager a{
	font-size: var(--pc_big);
	font-weight: 600;
}
.pager hr{
	color: #111;
	margin-top: -15px;
	width: 488px;
}
.pager a{
	color: var(--lightgray);
}
.pager a:focus{
	color: var(--secondary);
	transition: 0.3s;
}
.pager a:hover{
	color: var(--secondary);
	transition: 0.3s;
	margin-top: -28px;
}
.details{
	font-size: var(--pc_sub_title);
	transition: 0.3s;

}
.details h3{
	margin-top: 70px;
	margin-bottom: 28px;
}
.details div p{
	transition: 0.3s;
}
.details div{
	display: none;
}
.details div.active{
	display: block;
	animation: fadeInLeft 1s ease forwards;
}
[data-animate-in="left"] {
    transform: translate3d(-25%, 0, 0)
}
@keyframes fadeInLeft{
	from{opacity:0; translateX:(-25%);}
	to{opacity:1; translateX:none;}
  }





/* section3 홍수진*/
.section3 {
	background: url(../images/section3_global_bg.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
}

.section3 .sec3_card_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	gap: 5px;
}

.section3 .sec3_card {
	height: 560px;
	padding: 112px 0;
	border: 1px solid var(--lightgray);
	text-align: center;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #d1d1d1;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	transition: 1s;
}

.sec3_card.sec301 {
	background-image: url(../images/section3_lottetower.jpg);
}

.sec3_card.sec302 {
	background-image: url(../images/section3_antarctica.jpg);
}

.sec3_card.sec303 {
	background-image: url(../images/section3_songdo.jpg);
}

.sec3_card.sec304 {
	background-image: url(../images/section3_kintex.jpg);
}


.section3 .sec3_cardtitle {
	font-size: 40px;
	/*rem으로 변경필요하나 추후@media에서 잡아줄예정*/
	font-weight: 900;
	text-transform: uppercase;
	color: white;
	transform: translateY(60px);
	transition: 1s;
}

.section3 .sec3_cardtitle span {
	color: var(--secondary);
}

.section3 .sec3_carddesc {
	line-height: 28px;
	opacity: 0;
	transition: 1s;
	transform: translateY(30px)
}

.section3 .sec3_card:hover {
	background-blend-mode: normal;

	.sec3_cardtitle {
		transform: translateY(0);
	}

	.sec3_carddesc {
		opacity: 1;
		transform: translateY(0);
	}
}

/*// section3 홍수진*/