/* video */


#controls{
	position: absolute;
	bottom: 23%;
	left: 10%;
	max-width: 1440px;
	height: 50px;
}
.progress {
	left: 10%;
	right: 70%;
	bottom: 20%;
	height: 10px;
	overflow: hidden;
	background: rgba(255,255,255,0.2);
	position: absolute;
	border-radius: 0;
}
.progress .bar{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;
	background: var(--tertiary);
	transition:  0.5s ;	
}
.video_btn button{
	border-radius: 50%;
	position: absolute;
	display: inline-block;
	color: white;
	border: 1px solid white;
}
.video_btn button:hover{
	color: var(--tertiary);
	border: 1px solid var(--tertiary);
}
@media screen and (max-width: 768px){
	#controls{
		position: absolute;
		bottom: 23%;
		left: 10%;
		max-width: 1440px;
		height: 50px;
	}
	.progress {
		left: 10%;
		right: 70%;
		bottom: 20%;
		height: 10px;
		overflow: hidden;
		background: rgba(255,255,255,0.2);
		position: absolute;
		border-radius: 0;
	}
	.progress .bar{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 0;
		background: var(--tertiary);
		transition:  0.5s ;	
	}
	.video_btn button{
		border-radius: 50%;
		position: absolute;
		display: inline-block;
		color: white;
		border: 1px solid white;
	}
	.video_btn button:hover{
		color: var(--tertiary);
		border: 1px solid var(--tertiary);
	}
}
