/* video */
#controls{
	position: absolute;
	bottom: 23%;
	left: 10%;
	max-width: 1440px;
	height: 50px;
}

.progress1 {
	left: 10%;
	right: 70%;
	bottom: 20%;
	height: 10px;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.2);
	position: absolute;
	border-radius: 0;
}

.progress1 .bar {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;
	background: var(--tertiary);
	transition: 0.5s;
}

.video_btn button {
	border-radius: 50%;
	position: absolute;
	display: inline-block;
	color: white;
	border: 1px solid white;
	height: 45px;
	width: 45px;
}

.video_btn button:hover {
	color: var(--tertiary);
	border: 1px solid var(--tertiary);
}

@media screen and (max-width: 768px) and (max-width: 991.98px){

}

.s2.container {
	.she{
	display: flex;
	font-size: 110px;
	color: #757575;		
	}
	.s_tt_h2{
	font-size: 70px;
	font-weight: 500;
	}	
	.s_tt_mgm{
		font-size: 25px;
	}
}

#she_wrapper{
	display: flex;
}
.she_pic img{
	display: none;
	object-fit: cover;
	width: 100%;
	height: 630px;
}
.she_pic img.active{
	display: block;
	animation: fadeInLeft 1s ease forwards;
}
.explain{
	display: inline-block;
	h2{
		font-size: 45px;
		color: #3E3D3D;
	}
	p{
		font-size: 27px;
		line-height: 40px;
	}
}
.pager {
	a{
	font-size: var(--pc_big);
	font-weight: 600;
	color: var(--lightgray);
	}
	a:hover{
		color: var(--secondary);
		transition: 0.3s;
		margin-top: -28px;
	}
	a:focus{
		color: var(--secondary);
		transition: 0.3s;
	}
}
	

.details{
	font-size: var(--pc_sub_title);
	transition: 0.3s;
	h3{
		font-weight: bold;
	}
	div{
		display: none;
	}
	div.active{
		display: block;
		animation: fadeInLeft 1s ease forwards;
	}
	div p{
		transition: 0.3s;
		line-height: 44px;
		font-size: var(--pc_sub_title);
		/* font-size: 28px; */
	}
}

[data-animate-in="left"] {
    transform: translate3d(-25%, 0, 0)
}
@keyframes fadeInLeft{
	from{opacity:0; translateX:(-25%);}
	to{opacity:1; translateX:none;}
  }


/* section3 홍수진*/
.section3 {
	background-image: url(../images/section3_global_bg.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: darken;
}
.section3 .sec3_title h2,
.section3 .sec3_title h4{
	color:#fff;
}

.section3 .sec3_card_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	/* gap: 5px; */
}

.section3 .sec3_card {
	height: 560px;
	border: 1px solid var(--lightgray);
	text-align: center;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #d1d1d1;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: 1s;
	/* background-blend-mode:luminosity; */
}

.sec3_card.sec301 {
	background-image: url(../images/section3_lottetower.jpg);
	position: relative;
}

.sec3_card.sec302 {
	background-image: url(../images/section3_antarctica.jpg);
	position: relative;
}

.sec3_card.sec303 {
	background-image: url(../images/section3_songdo.jpg);
	position: relative;
}

.sec3_card.sec304 {
	background-image: url(../images/section3_kintex.jpg);
	position: relative;
}
.sec3_card.sec301:hover{
	background-image: url(../images/section3_lottetower.gif);
}
.sec3_card.sec302:hover{
	background-image: url(../images/section3_antarctica.gif);
}
.sec3_card.sec303:hover{
	background-image: url(../images/section3_songdo.gif);
}
.sec3_card.sec304:hover{
	background-image: url(../images/section3_kintex.gif);
}



.sec3_card.sec301:hover:before,
.sec3_card.sec302:hover:before,
.sec3_card.sec303:hover:before,
.sec3_card.sec304:hover:before{
	content:'';
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background-image: 
		linear-gradient(rgba(18,42,114,0.16) 10%, rgba(18,42,114,0.8) 70%);
}


.section3 .sec3_cardtitle {
	font-size: 40px;
	font-weight: 900;
	text-transform: uppercase;
	color: white;
	text-shadow: 0 1px 1px var(--primary), 0px 2px 2px white;
	transform: translateY(60px);
	transition: 1s;
}

.section3 .sec3_cardtitle span {
	/* color: var(--secondary); */
	font-size: 1.5em;
}

.section3 .sec3_carddesc {
	line-height: 28px;
	opacity: 0;
	transition: 1s;
	transform: translateY(30px)
}

.section3 .sec3_card:hover {
	/* background-blend-mode: normal; */

	.sec3_cardtitle {
		transform: translateY(0);
		text-shadow: 0 2px 1px var(--primary), 0 2px 4px white;

		span{
			color: var(--secondary);
		}
	}

	.sec3_carddesc {
		opacity: 1;
		transform: translateY(0);
	}
}

/*// section3 홍수진*/







/* gap사이즈 지정 */

.py-6 {
	padding-top: 7rem !important;
	padding-bottom: 7rem !important;
  }
  
.pb-6 {
	padding-bottom: 7rem !important;
  }



/* xs devices (less than 576px) */
@media (max-width: 575.98px) {

	/* section03 홍수진 */
	.section3 h4 span{
	  display: block;
	}
	.section3 .sec3_card {
	  height:280px;
	  
	  .sec3_cardtitle {
		font-size: var(--mo_subtitle);
		font-weight: 700;
		transform: translateY(80px);
		
	  }
	  .sec3_carddesc{
		font-size: var(--mo_subbody);
	  }
	}
	/* section04 홍수진 */
	/* section05 홍수진 */

	/*section2 조채림*/
	.explain > *{
		display: none;
	}
	.s2.container .she_title{
		h2{
			font-size: var(--mo_title);
		}
		h4{
			font-size: var(--mo_body);
		}
	}
	#tab_id .pager a{
		font-size: var(--mo_big);
	}
	.details div h3{
		font-size: 22px;
	}
	.details div p{
		font-size: 18px;
		line-height: 22px;
	}
	.section2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
	}
	.pager{
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;
		align-items: center;
	}
	.she_pic img{
		height: 340px;
		display: none;
	}
	/*section2 조채림 끝*/

  }
  
  /* sm devices (phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {

	/* section03 홍수진 */

	/*section2 조채림*/
	.explain > *{
		display: none;
	}
	.s2.container .she_title{
		h2{
			font-size: var(--mo_big);
		}
		h4{
			font-size: 20px;
		}
	}
	#tab_id .pager a{
		font-size: var(--mo_big);
	}
	.details div h3{
		font-size: 25px;
	}
	.details div p{
		font-size:22px;
		line-height: 25px;
	}
	.section2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
	}
	.pager{
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;
		align-items: center;
	}
	.she_pic img{
		height: 340px;
		display: none;
	}
	/*section2 조채림 끝*/

  }
  
  /* md devices (tablet, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
	
	/* section03 홍수진 */
	  .section3 .sec3_card {
		height:300px;
		
		.sec3_cardtitle {
		  font-size: var(--mo_subtitle);
		  font-weight: 700;
		}

		.sec3_carddesc{
		  font-size: var(--mo_subbody);
		}
	  }
	  
	  /*section2 조채림*/
	  .explain > *{
		display: none;
	}
	.s2.container .she_title{
		h2{
			font-size: var(--mo_big);
		}
		h4{
			font-size: 20px;
		}
	}
	#tab_id .pager a{
		font-size: var(--mo_big);
	}
	.details div h3{
		font-size: 25px;
	}
	.details div p{
		font-size: 22px;
		line-height: 30px;
	}
	.next_line{
		display: block;
	}
	.section2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
	}
	.pager{
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;
		align-items: center;
	}
	.she_pic img{
		object-fit: cover;
		width: 100%;
		height: 340px;
	}
	  /*section2 조채림 끝*/
  }
  
  /* lg devices (PC버전desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
	  /* 여기에 스타일 추가 */
	  .explain_wrapper {
		.explain h2{
		font-size: 38px;
		}
		.explain p{
			font-size: 22px;
		}
		.pager a{
			font-size: 80px;
		}
	}
	.s2.container .she_title{
		h2{
			font-size: var(--pc_title);
		}
		h4{
			font-size: 20px;
		}
	}
	.she_pic img{
		object-fit: cover;
		width: 100%;
		height: 560px;
	}
	.details{
		div h3{
			font-size: 28px;
		}
		div p{
			font-size: 20px;
			line-height: 28px;
		}
	}
	/* .next_line{
		display: block;
	} */
  }
  
  /* xl devices (1200px and up) */
  @media (min-width: 1200px) and (max-width: 1399.98px) {
	  /* 여기에 스타일 추가 */
	  .explain_wrapper {
		.explain h2{
		font-size: 40px;
		}
		.explain p{
			font-size: 22px;
		}
		.pager a{
			font-size: 80px;
		}
	}
	.s2.container .she_title{
		h2{
			font-size: var(--pc_title);
		}
		h4{
			font-size: var(--pc_body);
		}
	}
  }
  
  /*xxl devices (1400px and up)*/
  @media screen and (min-width: 1400px) {
	  /* 여기에 스타일 추가 */
  }
  
  