@charset "UTF-8";

/* sub_nav */
header{
  height:auto;
}

header div.top_nav{
  border-bottom: 1px solid #000;
  background-color: #fff;
}


.main_menu li a{
  color:#000;
}

header .logo a{
  background: url(../../images/header_icon2.svg) no-repeat;
}

/* sub_nav 끝 */

/* 공통 부분 */

#container{
  background-image: url(../images/subnav_newscenter.jpg);
}

/* 공통 부분 끝 */


/* section 01 */
/* section 01끝 */


/* section 02 */
/* section 02끝 */

